config/gateway/*
caddy.json
.idea
.vscode
.trash
*.db
.env
*.out

# generated config JSONs
config/

## compiled binary
veil

## other build files
dist
osxcross

.docusaurus
node_modules

packages/platform/api/src/research
packages/caddy/configs
packages/caddy/*.timestamp
packages/caddy/*.exe

.DS_Store