{
    order veil before reverse_proxy
    admin localhost:2019
}

localhost:2020 {
    veil X-Subscription-Key {
        api /api/v1/users http://localhost:8080 basic
        api /api/v1/products http://localhost:8081 premium
        api /api/v1/orders http://localhost:8082 enterprise
    }
}
